* {
    background-color: #ff0000;
    color: #000000;
}
.size {
    font-size: 150%;
}
.Flag {
    font-size: 500%;
    text-align: center;
    border: radius 150%; ;   
}
.iti {
    font-size: 120%;
}
.color{
    color: #0000ff;
}